* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* #### ELEMENTS #### */
body {
   font-family: sans-serif;
}

button {
   border: 0;
   background: none;
   outline: 0;
   cursor: pointer;
}

h1 {
   text-align: center;
   margin-bottom: .5rem;
}

a {
   color: green;
}

/* #### UTILITIES #### */
.btn {
   position: relative;
   padding: .5rem;
   border-radius: .5rem;
   font-size: 1rem;
   border: black 2px solid;
   box-shadow: 0 2px black;
}

.btn:active {
   box-shadow: 0 0 black;
   top: 2px;
}

.restart-btn {
   background-color: blue;
   color: white;
}

.mute-btn {
   background-color: teal;
   color: white;
}

.pause-btn {
   background-color: tomato;
   color: white;
}

.small-warning {
   font-size: .7rem;
   margin-bottom: .2rem;
}

.keyboard-devices {
   display: none;
}

/* The Page specific elements */
#game-container {
   width: max-content;
   max-width: 100%;
   margin: 2rem auto;
   padding: min(.7rem, 2vw);
}

.warnings {
   margin-bottom: .7rem;
   list-style-type: square;
   padding-left: 1rem;
}

.score-container {
   display: flex;
   justify-content: space-between;
   margin-bottom: .5rem;
}

.score-box {
   padding: .5rem;
   border-radius: .5rem;
   display: block;
}


.score {
   background-color: red;
   color: white;
}

.best-score {
   background-color: yellow;
}

#canvas-container {
   position: relative;
}

.final-message-container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0,0,0,0.3);
   border-radius: .5rem;
   color: white;
   text-align: center;
   padding: .8rem 2.5rem;
   width: max-content;
   /* box-shadow: 0 0 15px -3px black; */
}

.message {
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: 800;
   margin-bottom: .5rem;
}

.buttons {
   display: flex;
   justify-content: space-between;
   margin: .5rem 0;
}

footer {
   text-align: center;
   margin-bottom: 3rem;
}

#mobile-controller {
   position: fixed;
   bottom: 2rem;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template-areas:
      ".... up   ....."
      "left down right";
   gap: .5rem;
   max-width: 200px;
   background-color: rgba(0,0,0,0.3);
   padding: .7rem;
   border-radius: .4rem;
   pointer-events: none;
}

#mobile-controller button {
   position: relative;
   padding: 1.6rem;
   border: 1px solid white;
   color: white;
   border-radius: .2rem;
   font-size: 1.9rem;
   pointer-events: all;
}

#mobile-controller button:active {
   color: black;
   background-color: white;
}

#mobile-controller button .icon {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

button[data-direction="up"] {
   grid-area: up;
}

button[data-direction="left"] {
   grid-area: left;
}

button[data-direction="right"] {
   grid-area: right;
}

button[data-direction="down"] {
   grid-area: down;
}

@media (pointer: fine) {
   #mobile-controller {
      display: none;
   }

   .touch-screen-devices {
      display: none;
   }

   .keyboard-devices {
      display: block;
   }
}